<div class="staff-column">
	<input type="text" placeholder="lyrics" class="lyrics">
	<div class="note-area"></div>
	<div class="note-area staff-line"></div>
	<div class="note-area"></div>
	<div class="note-area staff-line"></div>
	<div class="note-area"></div>
	<div class="note-area staff-line"></div>
	<div class="note-area"></div>
	<div class="note-area staff-line"></div>
	<div class="note-area"></div>
	<div class="note-area staff-line"></div>
	<div class="note-area"></div>
</div>