<div class="staff-column">
	<div class="note-area"></div>
	<div class="note-area"></div>
	<div class="note-area"></div>
	<div class="note-area"></div>
	<div class="note-area"></div>
	<div class="note-area"></div>
	<div class="note-area"></div>
	<div class="note-area"></div>
	<div class="note-area"></div>
	<div class="note-area"></div>
	<div class="note-area"></div>
</div>